Django>=3.2
djangorestframework>=3.12
pyrebase4>=4.5.0
googlemaps>=4.10.0
google-generativeai>=0.3.2
requests>=2.25.1
django-cors-headers>=3.13.0
setuptools
wheel
gunicorn
agno
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
groq
python-dateutil>=2.8.2