Django>=3.2
djangorestframework>=3.12
pyrebase4>=4.5.0
googlemaps>=4.10.0
google-generativeai>=0.3.2
requests>=2.25.1
django-cors-headers>=3.13.0
setuptools
wheel
gunicorn
agno
spacy>=3.8.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
groq
python-dateutil>=2.8.2
python-dotenv